-- Check the constraint definition for actual_attendance_count
SELECT 
    tc.constraint_name, 
    tc.table_name, 
    cc.check_clause
FROM information_schema.table_constraints tc
JOIN information_schema.check_constraints cc 
    ON tc.constraint_name = cc.constraint_name
WHERE tc.constraint_name = 'chk_actual_attendance_count_valid'
    AND tc.table_name = 'event_registrations';